html,
body {
  margin: 0;
  background-color: #262626;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

header {
  width: 100vw;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-game {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 10px #FF6584;
  padding-left: 20px;
}

.container-buttons {
  height: 20px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 90px;
}

button:hover {
  opacity: 0.5;
}

img {
  width: 20px;
  height: 20px;
}
